.hl-red {
    color: #BC514B;
}

.hl-orange {
    color: #F68B3E;
}

.hl-green {
    color: #96dc8d;
}

.hl-blue {
    color: #74AAC5;
}

.hl-gray {
    color: #8c8c8b;
}

body {
   background-image: url("../images/photo-1536530639193-5ff82cdf18eb.jpeg");
    height: 100vh;  
    width: 100vw;  
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;	
}

.terminal-extend {
  height: calc(100vh - 633px);
}

/* Fond gris */
#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(52, 52, 52, 0.1);	
}
/* Ligne de recherche */
.search-row {
    width: 1010px;
    height: 50px;
    margin: 0px auto 0px auto;
    padding: 0px 20px;
    background-color: #1a1d24;
    border: solid 1px #1a1d24;
    opacity: 0.9;
    border-radius: 0px;
}

#search-field {
    width: 1010px;
    height: 50px;
    padding: 0px 10px 0px 0px;
    background-color: #1a1d24;
    border: solid 0px #1a1d24;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    float: left;
    outline: none;
}

#search-field::-moz-placeholder {
    color: #ffffff !important;
  /*color: #8c8c8b !important;*/
}

.terminal-con {
    margin: auto;
    text-align: center;
}

.terminal-row {
    width: 1010px;
    height: 40px;
    margin: auto;
    padding: 0px 20px;
    background-color: #1a1d24;
    border: solid 1px #1a1d24;
    opacity: 0.9;
    text-align: left;
}

.i1 {
    padding: 10px 0px 0px 20px !important;
}

.ext-top {
    padding: 20px 20px 0px 20px !important;
    border-radius: 0px 0px 0px 0px;
}

.ext-btm {
    padding: 0px 20px 5px 20px !important;
    border-radius: 0px 0px 0px 0px;
}

.terminal-label {
    height: 20px;
    padding: 10px 0px;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    float: left;
    text-align: left;
}

.ext {
    width: 100% !important;
    height: 277px !important;
}

.terminal-innerCon {
    width: 1010px;
    height: 300px;
    margin: auto;
    padding: 0px 20px;
    background-color: #1a1d24;
    border: solid 1px #1a1d24;
    opacity: 0.9;
}

.favCon {
    width: 290px;
    margin: 20px 20px;
    padding: 0px;
    border: solid 1px #96B5B4;
    float: left;
}

.favCon-header {
    padding: 5px 0px;
    background: #96B5B4;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #1a1d24;
}

.favCon-body {
    margin: 0px;
    padding: 5px 0px 10px 0px;
    text-align: center;
}

.favCon-body a {
    border: none;
}

.favCon-el {
    width: 95%;
    height: 30px;
    margin: 5px auto 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.favCon-el:hover {
    background: #96B5B4;
}

.favCon-el:hover span {
    color: #1a1d24;
}

.favCon-el-content {
    width: 100%;
    height: 100%;
    padding: 5px 0px 0px 0px;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    text-align: left;
    float: left;
}

#time {
    width: 100px
    height: 20px;
    padding: 10px 10px 0px 10px;
    text-align: left;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    float: left;
}
